---
import Layout from "../layouts/Layout.astro";

import { auth } from "../../auth"; // import your Better Auth instance

export const prerender = false; // Not needed in 'server' mode

const session = await auth.api.getSession({
  headers: Astro.request.headers,
});
---

<Layout>
  <p>{session?.user?.name}</p>

  <section>
    <h1 class="text-3xl font-bold mb-4">Dashboard</h1>
    <p class="text-lg">
      Bienvenido al dashboard. Aquí puedes ver información protegida.
    </p>
  </section>
</Layout>
